@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
  --color-primary: #4e73df;
  --color-sucsess: #1cc88a;
  --color-info: #36b9cc;
  --color-warning: #f6c23e;
  --color-danger: #e74a3b;
  --color-secondary: #858796;
}
/* !PADDING MARGIN */
.p-all {
  padding: 16px;
}
.pb-md {
  margin-bottom: 8px;
}
.mt-md {
  margin-top: 8px;
}
.mt-b {
  margin-top: 35px;
}
.mt-sm {
  margin-top: 5px;
}
.mb-md {
  margin-bottom: 40px;
}
.ml-md {
  margin-left: 10px;
}
/* !DISPLAY FLEX PROPERTIES */
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.direction-column {
  flex-direction: column;
}
/* !MAIN CSS */
/* ?DISPLAY GRID PROPERTIES */
.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 70px auto 70px;
  grid-template-areas:
    "m s"
    "m p"
    "m f";
}
.menu-panel {
  grid-area: m;
}
.search-notification {
  grid-area: s;
}
.profil {
  grid-area: p;
}
footer {
  grid-area: f;
}
/* !MENU=PANEL */
.menu-panel {
  background-color: #4369d7;
  padding: 20px 15px;
}
.menu-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-panel .logo {
  color: white;
}
.menu-panel .logo > i {
  font-size: 2.5rem;
}
.menu-panel .logo > h3 {
  display: none;
}
.menu-panel .list-item {
  display: flex;
  flex-direction: column;
}
.active {
  margin-top: 1.875rem;
  color: white;
}
.menu-panel ul .active > i,
.menu-panel ul .active > a {
  color: white;
}
.menu-panel .list-item i,
.menu-panel .list-item a {
  color: #849ee9;
  text-align: center;
}
.menu-panel .list-item a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.65rem;
  margin-left: .625rem;
}
.menu-panel ul .list-item:hover {
  color: white;
}

.menu-panel .list-item {
  margin-bottom: 0.9375rem;
}
/* !SEARCH AND NOTIFICATION */
.search-notification {
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 0.3125rem;
  justify-content: space-between;
}
.search-notification .search > input,
.search-notification .search > div {
  display: none;
}
.search-notification i {
  color: #bbb;
  font-size: 1.125rem;
}
.bell,
.envelope {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}
.bell > span,
.envelope > span {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: 0.25rem;
  margin-top: -0.25rem;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: var(--color-danger);
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}
.notification {
  display: flex;
  align-items: center;
}
.search-notification > i {
  color: var(--color-primary);
}
.search-notification>.search label>button{
  display: none;
}
/* !PROFIL */
.profil{
  background-color: #F5F6F9;
  padding: 1.5625rem 1.25rem;
}
.profile-photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;

}
.profile-photo>img{
  border-radius: 50% ;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  -o-border-radius: 50% ;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}
.profile-photo>button{
  margin-bottom: 1.5rem;
}
.col1{
  margin-top: 20px;
}
.row1>.head h1{
  margin-bottom: 1.5rem;
  font-size: 1.5625rem;
  color: rgb(58, 59, 69);
  font-weight: 400;
  line-height: 1.2;
}
.col1>div,
.col2>div,
.col3>div{
  background-color: white;
  margin-bottom: 1.5625rem;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
}
.projects>.bottom>div{
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .5rem;
  color: grey;
}
.projects>.bottom .head{
  display: flex;
  justify-content: space-between;
}
/* !PROGRESS */
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #c7c9cf;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}
.server-migration .progress > .percentage {
  width: 20%;
  background-color: var(--color-danger);
}
.sales-tracking .progress > .percentage {
  width: 40%;
  background-color: var(--color-warning);
}
.customer-database .progress > .percentage {
  width: 60%;
  background-color: var(--color-primary);
}
.payout-details .progress > .percentage {
  width: 80%;
  background-color: var(--color-info);
}
.account-setup .progress > .percentage {
  width: 100%;
  background-color: var(--color-sucsess);
}
.col1>div ,
.col2>div ,
.col3>div{
  overflow: hidden;
}

.col1>div .top,
.col2>div .top,
.col3>div .top{
  border-bottom: 1px solid #e3e6f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: #F8F9FC;
}
.col1>div .bottom,
.col2>div .bottom,
.col3>div .bottom{
padding: 1rem 1rem;
}

.col1>div .top>h6,
.col2>div .top>h6,
.col3>div .top>h6{
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-primary);
}
.col2 label,
.col3 label{
  color: #858796;
  font-size: 1rem;
  line-height: 1.5;
}
.col2 input,
.col3 input{
  display: block;
    width: 100%;
    margin-top: 5px;
    padding: .375rem .75rem;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.col2 input::placeholder,
.col3 input::placeholder{
  font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
}
.col2 .bottom div{
  margin-bottom: 10px;
}
.row2,
.second-row{
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: space-between;
}
.forum-settings .bottom textarea{
  display: block;
  border: 1px solid #d1d3e2;
  outline: none;
  /* padding: 10px; */
}
.profil button{
  background-color: #4e73df;
  padding: .25rem .5rem;
  font-size: 0.875rem;
  border-radius: .2rem;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    outline: none;
    border: none;
}












/* !FOOTER */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1;
    color: #bbb;
  }
  