.container{
    padding-left: 9rem;
    padding-right: 9rem;
}
.card {
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .card > .left-picture {
    display: initial;
  }
  .card > .left-picture > img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }