@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* !GLOBAL CSS */
.useless {
  padding-left: 16%;
  padding-right: 16%;
}
/* !GLOBAL CSS-->FLEX */
.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}

/* !COMMON CSS */
.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* !HEADER */
header {
  height: 83px;
}
/* !Nav-bar */
nav {
  height: 90px;
}
.links {
  width: 595px;
}
.pages > p {
  font-size: 15px;
  line-height: 21px;
  color: #a5a5a5;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}
.pages > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 21px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
/* !SECTION ABOUTUS */
header {
  height: 237px;
}
.aboutus h1 {
  font-size: 24px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
  margin-top: 65px;
}
.aboutus p {
  width: 605px;
  height: 39px;
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  font-style: italic;
  font-family: "Helvetica Neue";
  margin-top: 15px;
}
.about {
  padding-top: 40px;
  padding-bottom: 60px;
}

.about h3 {
  font-size: 20px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.about h5 {
  font-size: 12px;
  line-height: 18px;
  color: #9e9d9d;
  font-family: "Helvetica Neue";
  margin-top: 25px;
}
.cards {
  width: 300px;
  height: 285px;
}
.cards p {
  font-size: 12px;
  line-height: 18px;
  color: #474747;
  font-family: "Helvetica Neue";
  margin-top: 23px;
}
/* !ARTICLE PEOPLE */
.people {
  padding-top: 60px;
  padding-bottom: 100px;
}
.about-person {
  width: 300px;
}
.bottom {
  padding: 15px 20px 0px 15px;
}
.name h5 {
  font-size: 20px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.name h6 {
  font-size: 14px;
  line-height: 16px;
  color: #515151;
  font-family: "Bebas Neue", cursive;
}
.bottom h6 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #949393;
  font-family: "Bebas Neue", cursive;
}
.bottom p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #515151;
  font-family: "Helvetica Neue";
}
/* !FOOTER */
footer {
  background-color: #eee;
  height: 75px;
  margin-top: 65px;
}
footer p {
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
  font-family: "Helvetica Neue";
}
.site {
  height: 70px;
}
