@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* !GLOBAL CSS */
.useless {
  padding-left: 16%;
  padding-right: 16%;
}
.mt-sm {
  margin-top: 20px;
}
.mt-md {
  margin-top: 25px;
}
.mt-b {
  margin-top: 25px;
}
/* !GLOBAL CSS-->FLEX */
.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

/* !COMMON CSS */
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  height: 83px;
}
/* !Nav-bar */
nav {
  height: 90px;
}
.links {
  width: 595px;
}
.pages > p {
  font-size: 15px;
  line-height: 21px;
  color: #a5a5a5;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}
.pages > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 21px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}

.left {
  width: 71%;
  padding-top: 70px;
}
.blog h1 {
  font-size: 24px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.blog p {
  width: 605px;
  height: 39px;
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  font-style: italic;
  font-family: "Helvetica Neue";
  margin-top: 15px;
}
.side-bar {
  width: 29%;
}
.line {
  width: 650px;
  height: 5px;
}
.left h2 {
  margin-top: 40px;
  font-size: 15px;
  color: #464646;
  font-family: "Bebas Neue", cursive;
}
.side-bar {
  width: 290px;
  padding-top: 122px;
  padding-left: 65px;
  padding-bottom: 120px;
}
.side-bar h4 {
  font-size: 15px;
  color: #464646;
  font-family: "Bebas Neue", cursive;
}
.side-bar img {
  margin-top: 15px;
}
.about {
  padding-bottom: 32px;
}
.side-bar p {
  font-size: 12px;
  color: #464646;
  font-family: "Helvetica Neue";
  margin-top: 20px;
}
.about h6 {
  font-size: 12px;
  color: #464646;
  font-family: "Helvetica Neue";
}
.twitter {
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: 300;
  font-family: "Helvetica Neue";
}
p.twitter > span {
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  font-family: "Helvetica Neue";
}
p.hour {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  font-family: "Helvetica Neue";
  margin-top: 12px;
}
p.text {
  font-size: 12px;
  color: #464646;
  font-weight: 500;
  font-family: "Helvetica Neue";
}
input.small {
  width: 216px;
  height: 33px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  outline: none;
}
input.big {
  width: 495px;
  height: 205px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  outline: none;
}
#fname {
  margin-top: 40px;
}
form > input {
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
}
form > input::placeholder {
  font-size: 16px;
  line-height: 28px;
  color: #c6c6c6;
  font-family: "Bebas Neue", cursive;
}
.findout {
  margin-top: 10px;
}
.findout > a {
  text-decoration: none;
  font-size: 12px;
  line-height: 28px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
  margin-left: 10px;
}
.findout img {
  width: 16px;
  height: 9px;
}
/* !FOOTER */
footer {
  background-color: #eee;
  height: 75px;
  margin-top: 65px;
}
footer p {
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
  font-family: "Helvetica Neue";
}
.site {
  height: 70px;
}
