@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* !GLOBAL CSS */
.useless {
  padding-left: 16%;
  padding-right: 16%;
}
.mt-sm {
  margin-top: 20px;
}
.mt-md {
  margin-top: 28px;
}
/* !GLOBAL CSS-->FLEX */
.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}

/* !COMMON CSS */
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  height: 83px;
}
/* !Nav-bar */
nav {
  height: 90px;
}
.links {
  width: 595px;
}
.pages > p {
  font-size: 15px;
  line-height: 21px;
  color: #a5a5a5;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}
.pages > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 21px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
/* !ARTICLE TOP10 WEBSITES */
.left {
  width: 71%;
  padding-top: 70px;
  padding-bottom: 55px;
}
.blog h1 {
  font-size: 24px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.blog p {
  width: 605px;
  height: 39px;
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  font-style: italic;
  font-family: "Helvetica Neue";
  margin-top: 15px;
}
.side-bar {
  width: 29%;
}
.line {
  width: 650px;
  height: 5px;
}
.left h2 {
  margin-top: 40px;
  font-size: 15px;
  color: #464646;
  font-family: "Bebas Neue", cursive;
}
/* !SIDE-BAR */
.side-bar {
  width: 290px;
  padding-top: 122px;
  padding-left: 65px;
  padding-bottom: 120px;
}
.side-bar h4 {
  font-size: 16px;
  color: #464646;
  font-family: "Bebas Neue", cursive;
}
.side-bar img {
  margin-top: 15px;
}
.about {
  padding-bottom: 32px;
}
.side-bar p {
  font-size: 12px;
  color: #464646;
  font-family: "Helvetica Neue";
  margin-top: 20px;
}
.about h6 {
  font-size: 12px;
  color: #464646;
  font-family: "Helvetica Neue";
}
.twitter {
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: 300;
  font-family: "Helvetica Neue";
}
p.twitter > span {
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  font-family: "Helvetica Neue";
}
p.hour {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  font-family: "Helvetica Neue";
  margin-top: 12px;
}
.head {
  margin-top: 20px;
}
.grey {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  font-family: "Bebas Neue", cursive;
}
.black {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.row1 {
  margin-top: 27px;
}
.firstcard {
  width: 210px;
  height: 386px;
}
.secondcard {
  width: 205px;
  height: 480px;
}
.thirdcard {
  width: 207px;
  height: 410px;
}
.firstcard > top {
  width: 210px;
  height: 235px;
}
.secondcard > top {
  width: 205px;
  height: 330px;
}
.thirdcard > top {
  width: 207px;
  height: 264px;
  background-color: #aeaeae;
}
.r2firstcard {
  height: 447px;
  width: 208px;
}
.r2secondcard {
  height: 380px;
  width: 205px;
}
.r2thirdcard {
  height: 400px;
  width: 205px;
}
.r2firstcard > .top {
  width: 210px;
  height: 330px;
}
.r2secondcard > .top {
  width: 263px;
}
.r2thirdcard > .top {
  width: 283px;
}
.row1:first-child > .top {
  background-image: url("./../images/vallartapro.jpg");
}
.bottom {
  padding: 15px;
}
.bottom > h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  color: #474747;
  font-family: "Bebas Neue", cursive;
}
.bottom > h4 {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
  color: #949393;
  font-family: "Bebas Neue", cursive;
}
.bottom > p {
  margin-top: 22px;
  font-size: 12px;
  line-height: 16px;
  color: #515151;
  font-family: "Helvetica Neue";
}
.content {
  margin-top: 26px;
}
.counter {
  margin-top: 40px;
}
/* !FOOTER */
footer {
  background-color: #eee;
  height: 75px;
  margin-top: 65px;
}
footer p {
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
  font-family: "Helvetica Neue";
}
.site {
  height: 70px;
}
